body {
    margin: 0;
    padding: 10px;
}

header {
    background-color: #202020;
}

nav li {
    display: inline;
}

h1 {
    color: white;
}





footer {
        background-color: #202020;
        height: 200px;
}